/* footer{
    background:#1d1d1d;
        margin-top: 30px;

}


p{
   color: #7d7c7c;
   font-size:18px;
}

input{
    background-color: transparent;
    border: 1px solid white;
    padding: 5px;

}

input::placeholder{
    color: #7d7c7c;
 padding-left:10px;
}

#subscribe-btn{
    color: white;
    background: #d36fcd;
    border: none;
    width: 66%;
    padding: 6px 0;
    font-weight: bold;
}


#icon{
    background: #7d7c7c;
    color:black;
    padding:6px;

} */